image: maven:3.8.1-openjdk-17-slim

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

stages:
    - mvn-compile-deploy
    - npm-publish

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH == "homolog" || $CI_COMMIT_BRANCH == "main"
      when: always

mvn-compile-deploy:
    stage: mvn-compile-deploy
    script: 
    - mvn clean compile
    - mvn deploy -s $GITLAB_MAVEN_REPOSITORY_SETTINGS -f target/generated-sources/openapi/pom.xml -DaltDeploymentRepository=$GITLAB_MAVEN_REPOSITORY_ID_URL
    cache:
      key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths: 
      - .m2/repository
    artifacts:
      paths:
      - src/main/resources/openapi/generated/fe/lib-client

npm-publish:
    image: node:16.18.0-alpine
    stage: npm-publish
    script:
    - npm config set @$CI_PROJECT_ROOT_NAMESPACE:registry=https:$GITLAB_NPM_REPOSITORY_ID_URL
    - npm config set -- $GITLAB_NPM_REPOSITORY_ID_URL:_authToken=$GITLAB_PACKAGE_REPOSITORY_AUTH_TOKEN
    - cd src/main/resources/openapi/generated/fe/lib-client
    - npm publish --verbose
  